@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<main>
    <style>
    img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 250px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;
    }
</style>
   <div class="box">
        <img src="/Images/GajicAlexImage.png" alt="Alex">
        <h3>Alexander Gajic</h3>
            <body>
                 About me: I am a third year Game Development Major.
            </body>
   </div>

   <div class="box">
        <img src="/Images/PetersIsabellaImage.png" alt="Isabella">
        <h3>Isabella Peters</h3>
            <body>
                 About me: I am a third year IT major on the software development track.
            </body>
   </div>

   <div class="box">
        <img src="/Images/ZhuKevinImage.png" alt="Kevin">
        <h3>Kevin Zhu</h3>
            <body>
                 About me: I'm in my third year studying software development track in Information Technology. <br />
            </body>
   </div>

   <div class="box">
        <img src="/Images/BurkeWilliamImage.png" alt="William">
        <h3>William Burke</h3>
            <body>
                 About Me: Part Time Student, 4th year on the Game Development track at CECH. <br />
            </body>

   </div>
    <div class="box">
    <img src="/Images/IkramHaseebImage.jpg" alt="Haseeb">
   <h2>Haseeb Ikram</h2>
   <body>
       About Me: a fifth year in software development
   </body>
   </div>

</main>

