
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<main>

   <div class="column">
        <img src="/Images/GajicAlexImage.png" alt="Alex" width="200" height="200">
        <h3>Alexander Gajic</h3>
            <body>
                 About me: I am a third year Game Development Major.
            </body>
   </div>

   <div class="column">
        <img src="/Images/PetersIsabellaImage.png" alt="Isabella" width="200" height="200">
        <h3>Isabella Peters</h3>
            <body>
                 About me: I am a third year IT major on the software development track.
            </body>
   </div>

   <div class="column">
        <img src="/Images/ZhuKevinImage.png" alt="Kevin" width="200" height="200">
        <h3>Kevin Zhu</h3>
            <body>
                 About me: I'm in my third year studying software development track in Information Technology. <br />
            </body>
   </div>

   <div class="column">
        <img src="/Images/BurkeWilliamImage.png" alt="William" width="200" height="200">
        <h3>William Burke</h3>
            <body>
                 About Me: Part Time Student, 4th year on the Game Development track at CECH. <br />
            </body>
   </div>

</main>

