
@{
    ViewData["Title"] = "About Video Games";
}

<h1>About Video Games</h1>

<body>
    <br />
<h3>Our Favorite Hobby</h3>
<p>For many people, video games are a fun way to spend free time.  Our team chose to create our final project based on our common favorite hobby of video games.
    We all enjoy playing different video games and trying out new games.  There are many different games and genres to try out. 
    We all enjoy video games because they transport us to a new reality and engage us to complete the game. 
    The pages we incorporated into our project include
    a video game list, add game, edit game, delete game, about us, about video games, and a HTML database view.  Our video game list page shows a table of video game
    ratings which include the game title, ESRB rating, genre, release date, and personal rating out of 5.  
</p>
<br />
<h3>History of Video Games</h3>
<p>
    Video games began in the 1950s and 1960s as computer scientists began designing simple games and simulations.  
    The first consumer video game hardware was released in the 1970s.  The first arcarde video games were Computer 
    Space and Pong.  There was then rapid growth with other arcade games such as Pac-Man.  Nintendo released its Nintendo 
    Entertainment System in 1985 which created a shift of improvement in the industry.  From then on Playstation was released, followed
    by the Xbox line and the Wii.  Gaming is constantly improving and now mobile gaming and casual gaming has become a larger market.  
    Hardware and software technology is continuing to improve in video games with support for HD video and for virtual and reality based games. 
</p>
<br />
<h3>Video Game Ratings</h3>
<p>
    Video game ratings are important because they inform players and parents who are purchasing video games for their children of the level of maturity.  
    ESRB ratings provide information about what is in a game or app so parents and consumers can make informed choices about which games are right for them.  
    The ESRB ratings are everyone, everyone 10+, teen, mature 17+, adults only 18+, and rating pending.  All console manufacturers as well as certain
    retailers and storefronts require ESRB ratings.  Ratings are also beneficial so that other players can see if they would enjoy the game. 
</p>
</body>