
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<main>
    <img src="../Images/GajicAlexImage.png" alt="Alex">
   <h2>Alexander Gajic
       I am a third year Game Development Major
   </h2>
</main>

