
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<main>
    <div>
    <img src="/Images/GajicAlexImage.png" alt="Alex" width="400" height="600">
   <h2>Alexander Gajic</h2>
       <body>
           About me: I am a third year Game Development Major.
       </body>
   </div>
       <div>
    <img src="/Images/PetersIsabellaImage.png" alt="Isabella" width="500" height="400">
   <h2>Isabella Peters</h2>
       <body>
           About me: I am a third year IT major on the software development track
       </body>
   </div>
       <div>
    <img src="/Images/ZhuKevinImage.png" alt="Kevin" width="350" height="500">
   <h2>Kevin Zhu</h2>
   <body>
       About me: I'm in my third year studying software development track in Information Technology
   </body>
   </div>
          <div>
    <img src="/Images/BurkeWilliamImage.png" alt="William" width="350" height="500">
   <h2>William Burke</h2>
   <body>
       About Me: Part Time Student, 4th year on the Game Development track at CECH.
   </body>
   </div>

</main>

