
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<main>
    <style>
    img{
        max-width: 100%;
        max-height: 100%;
        display: block; 
    }
    .box{
        width: 250px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;
    }
</style>
    <div class="box">
    <img src="/Images/GajicAlexImage.png" alt="Alex">
   <h2>Alexander Gajic</h2>
       <body>
           About me: I am a third year Game Development Major.
       </body>
   </div>
       <div class="box">
    <img src="/Images/PetersIsabellaImage.png" alt="Isabella">
   <h2>Isabella Peters</h2>
       <body>
           About me: I am a third year IT major on the software development track
       </body>
   </div>
   <div class="box">
    <img src="/Images/ZhuKevinImage.png" alt="Kevin">
   <h2>Kevin Zhu</h2>
   <body>
       About me: I'm in my third year studying software development track in Information Technology
   </body>
   </div>
       <div class="box">
    <img src="/Images/BurkeWilliamImage.png" alt="William">
   <h2>William Burke</h2>
   <body>
       About Me: Part Time Student, 4th year on the Game Development track at CECH.
   </body>
   </div>
    <div class="box">
    <img src="/Images/IkramHaseebImage.jpg" alt="William">
   <h2>William Burke</h2>
   <body>
       About Me: a fifth year in software development
   </body>
   </div>

</main>

