
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<main>
    <div>
    <img src="../Images/GajicAlexImage.png" alt="Alex">
   <h2>Alexander Gajic</h2>
       <body>
           I am a third year Game Development Major
       </body>
   </div>
       <div>
    <img src="../Images/PetersIsabellaImage.png" alt="Isabella">
   <h2>Isabella Peters</h2>
       <body>
           About me: I am a third year IT major on the software development track
       </body>
   </div>
       <div>
    <img src="../Images/ZhuKevinImage.png" alt="Kevin">
   <h2>KevinZhu</h2>
   <body>
       About me: I'm in my third year studying software development track in Information Technolog
   </body>
   </div>

</main>

